@import url("colors.css");

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.05rem;
}

body {
    background-color: var(--background);
    color: var(--grey);
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 7px;
}

.line {
    display: flex;
    flex-direction: row;
}

.text-line {
    outline: none;
    width: 100%;
    color:  var(--grey);
    background-color: var(--background);
    border: none;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.05rem;
}

.cmd-hostname {
    color: var(--green);
}

.tilde {
    color: var(--blue);
}

.command {
    width: 150px;
}

.power-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(rgb(208, 208, 208), rgb(53, 53, 53));
    border: none;
    cursor: pointer;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 50px;
    width: 50px;
}

.power-button:hover {
    background: radial-gradient(rgb(227, 227, 227), rgb(53, 53, 53));
}

.power-button:hover svg{
    fill: green;
}

.hostname {
    text-decoration: none;
    color: var(--orange);
}

.description {
    color: var(--grey);
}

.neofetch {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--blue);
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.black {
    color: rgb(75, 75, 75);
}

.white {
    color: var(--grey);
}

.purple {
    color: rgb(175, 75, 175);
}

.light-orange {
    color: orange
}

.orange {
    color: orangered;
}