<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" id="themeStylesheet" href="/assets/styles/solarized-dark.css">
    <title>home</title>
</head>
<body onload="getRandomQuote()">
    <div class="container">
        <fieldset class="window header">
            <legend class="window-title">quote</legend>
            <p id="quote">A single chance is a galaxy of hope.</p>
        </fieldset>

        <div class="left-bar">
            <fieldset class="window navbar">
                <legend class="window-title">navigate</legend>
                <a href="/about" hx-get="/about" 
                    hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">about</a>
                <a href="/projects" hx-get="/projects" 
                    hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">projects</a>
                <!-- <a href="/blog" hx-get="/blog" 
                    hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">blog</a> -->
                <a href="https://github.com/0x747/" target="_blank">github</a>
            </fieldset>
            
            <fieldset class="window settings no-js-hidden">
                <legend class="window-title">settings</legend>
                <select name="theme-select" class="setting-select" onchange="changeTheme(this.value)">
                    <option value="0" selected>Solarized Dark</option>
                    <option value="1">Solarized Light</option>
                </select>

                <select name="font-select" class="setting-select" style="margin-top: 0.5rem;" onchange="changeFont(this.value)">
                    <option value="0"  style="font-family: Arial, Helvetica, sans-serif;">Arial</option>
                    <option value="1" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cambria</option>
                    <option value="2" style="font-family: 'Times New Roman', Times, serif;">Times New Roman</option>
                </select>
            </fieldset>
        </div>

        <fieldset class="window content" id="contentContainer">
            <div id="mainContent">
                <legend class="window-title">about</legend>
                    <article>
                        <p>
                            I'm an Information Technology graduate, and I'll be pursuing a master's degree in Cybersecurity & Privacy (CSP)
                            at NJIT in Fall 2025. <br><br>
                            I currently have the ISC2 CC and I am preparing to get certified in Network+ followed by the Security+
                            <br><br>
                            So far most of my experience is in Python and web development, and I enjoy designing applications which are customizable and minimal. 
                            This site is one such example, and it's design is based on terminal GUIs like Bashtop. Next, I'd like to add support for keyboard navigation to it. 
                        </p><br>
                    </article>
            </div>
        </fieldset>


        <div class="widgets">
            <!-- <fieldset class="window clock">
                <legend class="window-title">clock</legend>
                <p id="date"></p>
                <p id="time"></p>
            </fieldset> -->
            <noscript>
                <fieldset class="window js-disabled">
                    <legend class="window-title">noscript</legend>
                    <p>JavaScript is disabled</p><br>
                    <p>Settings and system widgets unavailable</p>
                </fieldset>

                <style>
                    .no-js-hidden {
                        display: none !important;
                    }
                </style>
            </noscript>
            <fieldset class="window system no-js-hidden">
                <legend class="window-title">system</legend>
                <p id="osContainer"><span class="label">os:</span> <span class="os"></span></p>
                <p id="memoryContainer"><span class="label">ram:</span> <span class="memory"></span></p>
                <p id="browserContainer"><span class="label">browser:</span> <span class="browser"></span></p><br>
                <a class="link" href="/site/system.html" hx-get="/site/system.html" 
                hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">see more</a>
            </fieldset>
            
            <fieldset class="window settings no-js-hidden">
                <legend class="window-title">settings</legend>
                <select name="theme-select" class="setting-select" onchange="changeTheme(this.value)">
                    <option value="0" selected>Solarized Dark</option>
                    <option value="1">Solarized Light</option>
                </select>

                <select name="font-select" class="setting-select" style="margin-top: 0.5rem;" onchange="changeFont(this.value)">
                    <option value="0"  style="font-family: Arial, Helvetica, sans-serif;">Arial</option>
                    <option value="1" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cambria</option>
                    <option value="2" style="font-family: 'Times New Roman', Times, serif;">Times New Roman</option>
                </select>
            </fieldset>
        </div>

        <footer>
            <fieldset class="window page-footer">
                <legend class="window-title">footer</legend>
                <div class="footer-links">
                    <p>(c) 2025-present, 0x747.github.io - All rights reserved.</p>
                    <p>Updated 3/20/25</p>    
                </div>
                <div class="footer-links">
                    <a class="link" href="/site/attributions.html" hx-get="/site/attributions.html" 
                        hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">Open Source Attributions</a>
                    <a class="link" href="/site/changelog.html" hx-get="/site/changelog.html" 
                        hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true"class="link">Changelog</a>
                </div>
            </fieldset>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="/assets/modules/htmx.min.js"></script>
    <script src="/assets/scripts/logos.js"></script>
    <script src="/assets/modules/platform.js"></script>
    <script src="/assets/scripts/quotes.js"></script>
    <script src="/assets/scripts/settings.js"></script>
    <script src="/assets/scripts/system.js"></script>
</body>

</html>
