@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background-color: rgb(20, 20, 35);
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
}

.container {
    display: grid;
    gap: 15px;
    left: 50%;
    margin-top: 75px;
    position: absolute;
    transform: translate(-50%);
}

.picture {
    width: 800px;
    height: 600px;
    background: url("./assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.resume {
    width: 800px;
}

.projects {
    width: 800px;
}

p {
    color: lightsteelblue;
    text-align: justify;
    text-justify: inter-word;
}

span {
    color: rgb(80, 80, 120);
}


a {
    color: slateblue;
    text-decoration: none;
    margin-right: 35px;
    font-size: 22px;
}

a:hover {
    transition: 0.2s;
    color: rgb(129, 117, 207);
}