<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" id="themeStylesheet" href="/assets/styles/solarized-dark.css">
    <title>system</title>
</head>
<body onload="getRandomQuote()">
    <div class="container">
        <fieldset class="window header">
            <legend class="window-title">quote</legend>
            <p id="quote">A single chance is a galaxy of hope.</p>
        </fieldset>

        <div class="left-bar">
            <fieldset class="window navbar">
                <legend class="window-title">navigate</legend>
                <a href="/about" hx-get="/about" 
                    hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">about</a>
                <a href="/projects" hx-get="/projects" 
                    hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">projects</a>
                <!-- <a href="/blog" hx-get="/blog" 
                    hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">blog</a> -->
                <a href="https://github.com/0x747/" target="_blank">github</a>
            </fieldset>
    
            <fieldset class="window settings">
                <legend class="window-title">settings</legend>
                <select name="theme-select" class="setting-select" onchange="changeTheme(this.value)">
                    <option value="0" selected>Solarized Dark</option>
                    <option value="1">Solarized Light</option>
                </select>

                <select name="font-select" class="setting-select" style="margin-top: 0.5rem;" onchange="changeFont(this.value)">
                    <option value="0"  style="font-family: Arial, Helvetica, sans-serif;">Arial</option>
                    <option value="1" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cambria</option>
                    <option value="2" style="font-family: 'Times New Roman', Times, serif;">Times New Roman</option>
                </select>
            </fieldset>
        </div>

        <fieldset class="window content" id="contentContainer">
            <div id="mainContent">
                <legend class="window-title">system</legend>
            <article id="main">
                <div class="system-container">
                    <pre id="logo"></pre>
                    <div class="details">
                        <p><span class="label">OS:</span> <span class="os">Not Available</span></p>
                        <p><span class="label">RAM:</span> <span class="memory">Not Available</span></p>
                        <p><span class="label">Available Cores:</span> <span class="cores">Not Available</span></p>
                        <p><span class="label">Browser:</span> <span class="browser">Not Available</span></p>
                        <p><span class="label">Engine:</span> <span class="engine">Not Available</span></p>
                        <p><span class="label">Language:</span> <span class="language">Not Available</span></p>
                        <p><span class="label">Connection:</span> <span class="connection">Not Available</span></p>
                        <p><span class="label">Resolution:</span> <span class="resolution">Not Available</span></p><br>
                    </div>
                </div>
                <br>
                <div class="color-pallete">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </article>
            </div>
        </fieldset>

        <div class="widgets">
            <!-- <fieldset class="window clock">
                <legend class="window-title">clock</legend>
                <p id="date"></p>
                <p id="time"></p>
            </fieldset> -->
            
            <fieldset class="window system">
                <legend class="window-title">system</legend>
                <p id="osContainer"><span class="label">os:</span> <span class="os"></span></p>
                <p id="memoryContainer"><span class="label">ram:</span> <span class="memory"></span></p>
                <p id="browserContainer"><span class="label">browser:</span> <span class="browser"></span></p><br>
                <a class="link" href="/site/system.html" hx-get="/site/system.html" 
                hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">see more</a>
            </fieldset>

            <fieldset class="window settings">
                <legend class="window-title">settings</legend>
                <select name="theme-select" class="setting-select" onchange="changeTheme(this.value)">
                    <option value="0" selected>Solarized Dark</option>
                    <option value="1">Solarized Light</option>
                </select>

                <select name="font-select" class="setting-select" style="margin-top: 0.5rem;" onchange="changeFont(this.value)">
                    <option value="0"  style="font-family: Arial, Helvetica, sans-serif;">Arial</option>
                    <option value="1" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cambria</option>
                    <option value="2" style="font-family: 'Times New Roman', Times, serif;">Times New Roman</option>
                </select>
            </fieldset>
        </div>

        <footer>
            <fieldset class="window page-footer">
                <legend class="window-title">footer</legend>
                <div class="footer-links">
                    <p>(c) 2025-present, 0x747.github.io - All rights reserved.</p>
                    <p>Updated 3/20/25</p>    
                </div>
                <div class="footer-links">
                    <a class="link" href="/site/attributions.html" hx-get="/site/attributions.html" 
                        hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true">Open Source Attributions</a>
                    <a class="link" href="/site/changelog.html" hx-get="/site/changelog.html" 
                        hx-select="#mainContent" hx-target="#contentContainer" hx-swap="innerHTML" hx-push-url="true"class="link">Changelog</a>
                </div>
            </fieldset>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="/assets/modules/platform.js"></script>
    <script src="/assets/scripts/logos.js"></script>
    <script src="/assets/scripts/quotes.js"></script>
    <script src="/assets/scripts/settings.js"></script>
    <script src="/assets/scripts/system.js"></script>
    <script src="/assets/modules/htmx.min.js"></script>
</body>
</html>